{% extends 'base.html.twig' %}
{% block title %}
    Mes produits
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="block-header">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box hover-expand-effect">
                    <div class="icon bg-pink">
                        <img
                                src="{{ asset('uploads/images/products/' ~ mostP.image.image) }}"
                                width="100%" height="100%" alt="User"/>
                    </div>
                    <div class="content">
                        <div class="text"><code>Meuilleur produit</code></div>
                        <div class="text"><span class="label label-success"><b>{{mostP.libelle}}</b></span></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box hover-expand-effect">
                    <div class="icon bg-pink">
                        <img
                                src="{{ asset('uploads/images/products/' ~ lessP.image.image) }}"
                                width="100%" height="100%" alt="User"/>
                    </div>
                    <div class="content">
                        <div class="text"><code>Pire produit</code></div>
                        <div class="text"><span class="label label-danger"><b>{{lessP.libelle}}</b></span></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box hover-zoom-effect">
                    <div class="icon bg-pink">
                        <i class="material-icons">attach_money</i>
                    </div>
                    <div class="content">
                        <div class="text"><code>Moyenne des profits</code></div>
                        <div class="number">{{ avg }} Dt</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box hover-zoom-effect">
                    <div class="icon bg-yellow">
                        <i class="material-icons">compare</i>
                    </div>
                    <div class="content">
                        <div class="text">N° des catégories</div>
                        <div class="number">{{ categories|length }}</div>
                    </div>
                </div>
                </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <h4>Nombre des produits enregistré dans la base : <code>{{ products|length }} Produits</code></h4>
                        </h2>
                    </div>
                    <div class="body">
                        <table id="mainTable" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Image</th>
                                <th>Référence</th>
                                <th>Libelle</th>
                                <th>Catégorie</th>
                                <th>stock</th>
                                <th>Code a barre</th>
                                <th>Prix TTC</th>
                                <th>Taux TVA</th>
                                <th>Prix vente HT</th>
                                <th>Prix d'achat</th>
                                <th>Profit/unité</th>
                                <th>Date création</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr id="tableElement{{ product.id }}" onchange="updateProduct({{ product.id }})">
                                    <td style="pointer-events: none;">{{ product.id }}</td>
                                    <td style="pointer-events: none;"><img
                                                src="{{ asset('uploads/images/products/' ~ product.image.image) }}"
                                                width="48" height="48" alt="User"/></td>
                                    <td><b>{{ product.reference }}</b></td>
                                    <td><b>{{ product.libelle }}</b></td>
                                    <td><span class="label label-primary">{{ product.category.name }}</span></td>
                                    <td> {% if product.quantite>0 %}
                                        <span class="badge badge-pill success" style="background-color: #69f0ae">{{ product.quantite }}</span></td>
                                    {% else  %}
                                        <span class="badge badge-pill success" style="background-color: #d50000">Produit epuisé</span></td>
                                    {% endif %}
                                    <td><span class="label label-info">{{ product.codeBar }}</span></td>
                                    <td style="pointer-events: none;">{{ product.sellPrice + (product.buyPrice*product.TVA) }}</td>
                                    <td>{{ product.TVA }}</td>
                                    <td>{{ product.sellPrice }}</td>
                                    <td>{{ product.buyPrice }}</td>
                                    <td style="pointer-events: none;">{{ product.sellPrice - product.buyPrice }}</td>
                                    <td style="pointer-events: none"><span class="label bg-cyan">{{ product.createdAt|date }}</span></td>
                                    <td><button class="btn btn-danger waves-effect">remove</button></td>

                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>

                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <!-- Jquery Core Js -->
    <script src="{{ asset('UI/plugins/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{{ asset('UI/plugins/bootstrap/js/bootstrap.js') }}"></script>

    <!-- Select Plugin Js -->
    <script src="{{ asset('UI/plugins/bootstrap-select/js/bootstrap-select.js') }}"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="{{ asset('UI/plugins/jquery-slimscroll/jquery.slimscroll.js') }}"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="{{ asset('UI/plugins/node-waves/waves.js') }}"></script>

    <!-- Editable Table Plugin Js -->
    <script src="{{ asset('UI/plugins/editable-table/mindmup-editabletable.js') }}"></script>
    <script src="{{ asset('UI/js/pages/ui/dialogs.js') }}"></script>
    <script src="{{ asset('UI/plugins/sweetalert/sweetalert.min.js') }}"></script>
    <!-- Custom Js -->
    <script src="{{ asset('UI/js/admin.js') }}"></script>
    <script src="{{ asset('UI/js/pages/tables/editable-table.js') }}"></script>

    <!-- Demo Js -->
    <script src="{{ asset('UI/js/demo.js') }}"></script>
    <script src="{{ asset('UI/js/product/productIndex.js') }}"></script>
    <script>

        function onElementClicked(id) {
            console.log($("#tableElement" + id).find("td:nth-child(1)").text());
            console.log($("#tableElement" + id).find("td:nth-child(5)").text());
            console.log($("#tableElement" + id).find("td:nth-child(3)").text());
        }

        function updateProduct(id) {
            let r = $("#tableElement" + id);
            console.log(r.find("td:nth-child(1)").text());
            console.log(parseFloat(r.find("td:nth-child(8)").text()));
            $.ajax({
                url: "{{ path('updateProduct') }}",
                type: 'POST',
                dataType: 'json',
                data: {
                    'id': parseInt(r.find("td:nth-child(1)").text())
                    , 'reference': r.find("td:nth-child(3)").text(),
                    'libelle': r.find("td:nth-child(4)").text(),
                    'quantity': parseInt(r.find("td:nth-child(6)").text()),
                    'barCode': r.find("td:nth-child(7)").text(),
                    'TVA': parseFloat(r.find("td:nth-child(9)").text()),
                    'sellPrice': parseFloat(r.find("td:nth-child(10)").text()),
                    'buyPrice': parseFloat(r.find("td:nth-child(11)").text()),
                },
                beforeSend: function () {
                    $('.page-loader-wrapper').show();
                },
                success: function (data) {
                    console.log(data);
                },
                error: function () {
                    alert("error");
                },
                complete: function () {
                    let result=parseFloat(r.find("td:nth-child(10)").text())+(parseFloat(r.find("td:nth-child(10)").text()) *parseFloat(r.find("td:nth-child(9)").text()));
                    console.log(result);
                    $("#tableElement" + id).find("td:nth-child(8)").text(result);
                    console.log("Request finished.");
                    showSuccessMessage();
                    $('.page-loader-wrapper').hide();

                }
            })
        }

        function removeProduct(id)
        {

        }
    </script>
{% endblock %}