{% extends 'base.html.twig' %}
{% block title %}
    Nouveau produit
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="block-header">
            <h4>Formulaire de création d'un nouveau <code>produit</code></h4>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form enctype="multipart/form-data" method="post">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Cordonnées produit
                            </h2>
                        </div>
                        <div class="body">

                            {{ form_start(form, {'attr': {'onsubmit': 'onConfirmClicked()'}}) }}
                            <div class="form-group form-float">
                                <b>Référence produit</b>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                            <i class="material-icons">border_color</i>
                                    </span>
                                    <div class="form-line" id="nameContainer">
                                        {{ form_widget(form.reference, {'attr': {'class': 'form-control','placeholder':'Veuiller saisire la référence de votre produit'}}) }}
                                    </div>
                                </div>

                            </div>
                            <div class="form-group form-float">
                                <b>Libelle produit</b>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                            <i class="material-icons">comment</i>
                                    </span>
                                    <div class="form-line" id="nameContainer">
                                        {{ form_widget(form.libelle, {'attr': {'class': 'form-control','placeholder':'Veuiller saisire le libelle de votre produit'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <b>Catégorie produit</b>
                                <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">filter_list</i>
                                            </span>
                                    {{ form_widget(form.category, {'attr': {'class': 'form-control show-tick'}}) }}
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <b>Quantité produit</b>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                            <i class="material-icons">chevron_right</i>
                                    </span>
                                    <div class="form-line" id="nameContainer">

                                        {{ form_widget(form.quantite, {'attr': {'class': 'form-control',
                                            'placeholder':'Veuiller saisire la quantité de votre produit',
                                            'type':'number',
                                            'id':'productQuantityAdd',
                                            'onchange':'handleProductQuantityInAdd()'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <b>Code a barre produit</b>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                            <i class="material-icons">code</i>
                                    </span>
                                    <div class="form-line" id="nameContainer">
                                        {{ form_widget(form.codeBar, {'attr': {'class': 'form-control','placeholder':'Veuiller scanner le code a bar de votre produit','type':'number'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <h4>Image du produit</h4>
                                <button type="button" class="btn bg-lime waves-effect" id="btnUpload">
                                    <input type="file" name="imageUpload" id="imageFileUpload"
                                           style="color: transparent;background-color: transparent;position: absolute;left: 0;width: 100%;height: 100%;top: 0;opacity: 0;z-index: 100;"
                                           accept="image/*">
                                    <i class="material-icons">add_a_photo</i>
                                    <span>Choisire une photo</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="header">
                            <h2>
                                Tarif produit
                            </h2>
                        </div>
                        <div class="body">
                                <div class="form-group form-float">
                                    <b>Prix d'achats produit </b>
                                    <div class="input-group">
                                    <span class="input-group-addon">
                                            <i class="material-icons">attach_money</i>
                                    </span>
                                        <div class="form-line" id="nameContainer">
                                            {{ form_widget(form.buyPrice, {'attr': {'class': 'form-control','placeholder':'Veuiller saisire le prix d\'achats de votre produit'
                                                ,'type':'number'
                                            ,'onchange':'handleBuyPrice()'}}) }}
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group form-float">
                                    <b>Prix de vente hors tax du produit</b>
                                    <div class="input-group">
                                    <span class="input-group-addon">
                                            <i class="material-icons">monetization_on</i>
                                    </span>
                                        <div class="form-line" id="nameContainer">
                                            {{ form_widget(form.sellPrice, {'attr': {'class': 'form-control','placeholder':'Veuiller saisire le prix de vente de votre produit',
                                                'type':'number'
                                            ,'onchange':'handleSellPrice()'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-float">
                                    <b>Coût TVA produit</b>
                                    <div class="input-group">
                                    <span class="input-group-addon">
                                            <i class="material-icons">add_circle</i>
                                    </span>
                                        <div class="form-line" id="nameContainer">
                                            {{ form_widget(form.TVA, {'attr': {'class': 'form-control','placeholder':'Veuiller saisire le taux TVA de votre produit',
                                                'type':'number',
                                            'onchange':'handleTVA()'}}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group form-float" id="btnConfirm" style="display: none">
                                    <button type="submit" class="btn bg-deep-orange waves-effect">
                                        <i class="material-icons">verified_user</i>
                                        <span>Confirmer</span>
                                    </button>
                                </div>
                                {{ form_end(form) }}

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block InputControlJs %}
    <script src="{{ asset('UI/js/product/product.js') }}"></script>
{% endblock %}