{% extends 'base.html.twig' %}
{% block title %}Nouveau employée{% endblock %}
{% block plugins %}
    <!-- Bootstrap Core Css -->
    <link href="{{ asset('UI/plugins/bootstrap/css/bootstrap.css') }}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="{{ asset('UI/plugins/node-waves/waves.css') }}" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="{{ asset('UI/plugins/animate-css/animate.css') }}" rel="stylesheet" />

    <!-- Sweet Alert Css -->
    <link href="{{ asset('UI/plugins/sweetalert/sweetalert.css') }}" rel="stylesheet" />

    <!-- Colorpicker Css -->
    <link href="{{ asset('UI/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css') }}" rel="stylesheet" />

    <!-- Dropzone Css -->
    <link href="{{ asset('UI/plugins/dropzone/dropzone.css') }}" rel="stylesheet">

    <!-- Multi Select Css -->
    <link href="{{ asset('UI/plugins/multi-select/css/multi-select.css') }}" rel="stylesheet">

    <!-- Bootstrap Spinner Css -->
    <link href="{{ asset('UI/plugins/jquery-spinner/css/bootstrap-spinner.css') }}" rel="stylesheet">

    <!-- Bootstrap Tagsinput Css -->
    <link href="{{ asset('UI/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css') }}" rel="stylesheet">

    <!-- Bootstrap Select Css -->
    <link href="{{ asset('UI/plugins/bootstrap-select/css/bootstrap-select.css') }}" rel="stylesheet" />

    <!-- noUISlider Css -->
    <link href="{{ asset('UI/plugins/nouislider/nouislider.min.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="block-header">
            <h4>Formulaire de création d'un nouveau <code>employée</code></h4>
        </div>
        <form id="employeeForm">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                        Cordonnées profile
                        </h2>
                    </div>
                    <div class="body">
                        <div class="demo-masked-input">
                        <div class="form-group form-float">
                            <b>Nom complet</b>
                            <div class="input-group">
                                    <span class="input-group-addon">
                                            <i class="material-icons">person_pin</i>
                                    </span>
                            <div class="form-line" id="nameContainer">
                                <input type="text" name="fullName" class="form-control " id="fullName" placeholder="Votre nom et prénom doivent commencer par une lettre majiscule et tous caractéres spéciaux et nombres sont inacceptable " onkeyup="handleName()" onfocusout="showNameStatus()">
                            </div>
                            </div>

                        </div>
                        <div class="form-group form-float">
                            <b>Télephone</b>
                            <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">phone</i>
                                            </span>
                                <div class="form-line" id="phoneContainer" >
                                    <input type="number" name="phoneEmp" id="phoneInput" class="form-control " placeholder="+216:00-000-000" onkeyup="handlePhone()" onfocusout="showPhoneStatus()">
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <b>Email</b>
                            <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                <div class="form-line" id="emailContainer">
                                    <input type="text" name="emailEmp" class="form-control " placeholder="Ex: example@example.com" id="emailInput" onkeyup="handleEmail()" onfocusout="showEmailStatus()">
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <h5>Adresse</h5>
                            <div class="form-line">
                                <input type="text" class="form-control " placeholder="Veuillez saisire une adresse" id="addressInput" onkeyup="checkAdress()">
                            </div>
                    </div>
                    <div class="form-group form-float" id="addressSelectorDiv">
                         <select class="form-control show-tick" id="selectAddresses" onchange="handleAddress()">
                             <option value='Aucune addresse choisi'>Veuillez choisire une addresse</option>
                         </select>
                    </div>
                </div>
            </div>
        </div>



        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                        Informations profile
                        </h2>
                    </div>
                    <div class="body">
                      <div class="demo-masked-input">
                        <div class="form-group form-float">
                            <b>Salaire brute</b>
                            <div class="input-group">
                                    <span class="input-group-addon">
                                            <i class="material-icons">euro_symbol</i>
                                    </span>
                            <div class="form-line" id="salaryBrutContainer">
                                <input type="number" class="form-control" name="salaireNetEmp" id="salaireBrutInput" placeholder="saisire le salaire de votre employée" onkeyup="handleSalaireBrut()" onfocusout="showSalaryBrutStatus()">
                            </div>
                            </div>

                        </div>
                                                <div class="form-group form-float">
                            <b>Bonus salaire</b>
                            <div class="input-group">
                                    <span class="input-group-addon">
                                            <i class="material-icons">add</i>
                                    </span>
                            <div class="form-line" id="salaryBonusContainer">
                                <input type="number" class="form-control " name="salaireBonusEmp" id="bonusSalaireInput" placeholder="saisire le bonus de votre employée" onkeyup="handleSalaireBonus()" onfocusout="showSalaryBonusStatus()">
                            </div>
                            </div>

                        </div>
                        <div class="form-group form-float">
                            <b>Role employée</b>
                            <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">vpn_key</i>
                                            </span>
                            <select class="form-control show-tick" name="rolesEmp">
                            <option value="Manager">Manager</option>
                            <option value="Vendeur">Vendeur</option>
                            <option value="Stock">Gestionnaire du stock</option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <b>Departement employé</b>
                            <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">group</i>
                                            </span>
                            <select class="form-control show-tick" name="deptEmp" id="deptInput">
                                {% if departments|length>0 %}
                            {% for department in departments %}
                            <option value="{{ department.id }}">{{ department.name }}</option>
                            {% endfor %}
                            {% else %}
                            <option value="empty">Aucun département n'est disponible</option>
                                {% endif %}
                            </select>

                            </div>
                        </div>
                        <div class="form-group form-float">
                        <h4>Image du profile Employée</h4>
                                <button type="button" class="btn bg-lime waves-effect" id="btnUpload">
                                    <input type="file" name="imageUpload" id="imageFileUpload" style="color: transparent;background-color: transparent;position: absolute;left: 0;width: 100%;height: 100%;top: 0;opacity: 0;z-index: 100;" accept="image/*" >
                                    <i class="material-icons">add_a_photo</i>
                                    <span>Choisire une photo</span>
                                </button>
                        </div>

                </div>
            </div>
        </div>
        </div>
        </div>




        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                        Clé d'authentification profile
                        </h2>
                    </div>
                    <div class="body">
                      <div class="demo-masked-input">
                        <div class="form-group form-float">
                            <b>Login</b>
                            <div class="input-group">
                                    <span class="input-group-addon">
                                            <i class="material-icons">account_box</i>
                                    </span>
                            <div class="form-line" id="loginContainer">
                                <input type="text" class="form-control " name="loginEmp" placeholder="saisire le login" id="loginInput" onkeyup="handleLogin()" onfocusout="showLoginStatus()">
                            </div>
                            </div>

                        </div>
                                                <div class="form-group form-float">
                            <b>Mot de pass</b>
                            <div class="input-group">
                                    <span class="input-group-addon">
                                            <i class="material-icons">visibility</i>
                                    </span>
                            <div class="form-line" id="passwordContainer">
                                <input type="password" name="passwordEmp" class="form-control " placeholder="saisire votre mot de pass" id="passwordInput" onkeyup="handlePassword()" onfocusout="showPasswordStatus()">
                            </div>
                            </div>
                        </div>

                                                                        <div class="form-group form-float">
                            <b>Confirmer votre mot de pass</b>
                            <div class="input-group">
                                    <span class="input-group-addon">
                                            <i class="material-icons">visibility</i>
                                    </span>
                            <div class="form-line" id="passwordConfirmContainer">
                                <input type="password" class="form-control" placeholder="resaisire votre mot de pass" id="passwordMatchingInput" onkeyup="rehandlePassword()" required onfocusout="showPasswordConfirmStatus()">
                            </div>

                            </div>
                        </div>
                          <div class="form-group form-float">
                              <button type="button" class="btn bg-deep-orange waves-effect" onclick="addEmployee()">
                                  <i class="material-icons">verified_user</i>
                                  <span>Confirmer</span>
                              </button>
                          </div>
                </div>
            </div>
        </div>
        </div>

        </div>

    </div>
    </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <!-- Jquery Core Js -->
    <script src="{{ asset('UI/plugins/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{{ asset('UI/plugins/bootstrap/js/bootstrap.js') }}"></script>

    <!-- Select Plugin Js -->
    <script src="{{ asset('UI/plugins/bootstrap-select/js/bootstrap-select.js') }}"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="{{ asset('UI/plugins/jquery-slimscroll/jquery.slimscroll.js') }}"></script>
    <!-- color picker bootstrap -->
    <script src="{{ asset('UI/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js') }}"></script>

    <!-- Dropzone Plugin Js -->
    <script src="{{ asset('UI/plugins/dropzone/dropzone.js') }}"></script>

    <!-- Input Mask Plugin Js -->
    <script src="{{ asset('UI/plugins/jquery-inputmask/jquery.inputmask.bundle.js') }}"></script>

    <!-- Multi Select Plugin Js -->
    <script src="{{ asset('UI/plugins/multi-select/js/jquery.multi-select.js') }}"></script>

    <!-- Jquery Spinner Plugin Js -->
    <script src="{{ asset('UI/plugins/jquery-spinner/js/jquery.spinner.js') }}"></script>

    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="{{ asset('UI/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js') }}"></script>

    <!-- noUISlider Plugin Js -->
    <script src="{{ asset('UI/plugins/nouislider/nouislider.js') }}"></script>

    <!-- Jquery Validation Plugin Css -->
    <script src="{{ asset('UI/plugins/jquery-validation/jquery.validate.js') }}"></script>

    <!-- JQuery Steps Plugin Js -->
    <script src="{{ asset('UI/plugins/jquery-steps/jquery.steps.js') }}"></script>

    <!-- Sweet Alert Plugin Js -->
    <script src="{{ asset('UI/plugins/sweetalert/sweetalert.min.js') }}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{{ asset('UI/plugins/node-waves/waves.js') }}"></script>



    <!-- Custom Js -->
    <script src="{{ asset('UI/js/admin.js') }}"></script>
    <script src="{{ asset('UI/js/pages/forms/form-wizard.js') }}"></script>
    <script src="{{ asset('UI/js/pages/forms/advanced-form-elements.js') }}"></script>
    <!-- Demo Js -->
    <script src="{{ asset('UI/js/demo.js') }}"></script>
    <script src="{{ asset('UI/js/Employees.js') }}"></script>


    <script>
        let file;
        //Global handler
    let generalHandler=false;
        //Full Name handler
        let regFullName = /^[a-zA-Z]+ [a-zA-Z]+$/;
        let isFullNameValid=false;
        //Phone handler (No need for regex for phone)
        let isPhoneValid=false;
        //Address handler (No need for regex for address)
        let isAddressValid=false;
        //Email handler
        let regEmail=/\S+@\S+\.\S+/;
        let isEmailValid=false;
        //Address container
        let addressesContainer=[];
        let address={};
        //Salaire bonus and net handler
        let isSalaireBrutValid=false;
        let isSalaireBonusValid=false;
        //Login handler
        let regLogin=/^[a-z0-9_-]{3,16}$/;
        let isLoginValid=false;
        //Password handler
        let regPassword=/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/;
        let isPasswordValid=false;
        let isPasswordMatches=false;







        function handleName() {
    if (regFullName.test($('#fullName').val()) && $('#fullName').val().length>6)
    {
        console.log("matching");
        isFullNameValid=true;

    }
    else {
        console.log("not matching");
        isFullNameValid=false;
    }
}

function handlePhone()
{
if ($('#phoneInput').val().length===8 ){
let phone=$('#phoneInput').val().toString();
if (phone.charAt(0)==='2' || phone.charAt(0)==='4' || phone.charAt(0)==='5' || phone.charAt(0)==='7' || phone.charAt(0)==='9' || phone.charAt(0)==='3'){
isPhoneValid=true;
console.log("valid length and operator")    ;
}
else {
    isPhoneValid=false;
console.log("Invalid operator");
}
}
else {
    isPhoneValid=false;
console.log("Invalid operator and length")
}
}

function handleEmail()
{
if (regEmail.test($('#emailInput').val()))
{
console.log("Matched")    ;
isEmailValid=true;
}
else {
    console.log("Unmatched");
    isEmailValid=false;
}
}

function checkAdress() {
    let timerEmployees= setTimeout( function (){
            $.ajax(
                {
                    type:'GET',
                    url: "https://nominatim.openstreetmap.org/search?q="+$("#addressInput").val()+"&format=json&addresdetails=1&accept-language=fr",
                    dataType:'json',
                    async:true,
                    success:function (data) {
                        $("#selectAddresses").empty().append("<option value='Aucune addresse choisi'>Veuillez choisire une addresse</option>");
                        addressesContainer=[];
                        for (var i=0;i<data.length;i++)
                            {
                            $("#selectAddresses").append("<option value='"+data[i].display_name+"'>"+data[i].display_name+"</option>");
                            console.log(data[i]);
                            addressesContainer.push(data[i]);
                                    }
                        console.log("Addresses length       :       "+addressesContainer.length);
                    $("#selectAddresses").selectpicker("refresh");
                    },
                    error:function () {
                        alert("impossible");
                    }
                });
    },3000);
}

function changingButtonValue()
{
    $("#btnUpload").html("<i class=\"material-icons\">add_a_photo</i><span>Photo uploaded</span>");
}

function handleAddress()
{
if (addressesContainer.length===0)
{
console.log("Mafomma hata wehd")    ;
isAddressValid=false;
}
else {
console.log("E9ta3 echhak   :   "+addressesContainer.length)    ;
for (var i =0;i<addressesContainer.length;i++)
{
if ($('#selectAddresses').val()===addressesContainer[i].display_name)  {
    address=addressesContainer[i];
console.log("misketa (:                  "+address.display_name);
isAddressValid=true;
}
}
}
}

function handleSalaireBrut()
{
if ($("#salaireBrutInput").val()>0){
isSalaireBrutValid=true;
console.log("Salaire valide");
}
else {
    isSalaireBrutValid=false;
    console.log("Salaire non valide");
}
}

function handleSalaireBonus()
{
    let netS=parseInt($("#salaireBrutInput").val());
    let bonus=parseInt($("#bonusSalaireInput").val());
    console.log("Salaire bonus : "+bonus  +"??"+"    Salaire net  "+netS   );
if (( bonus>=0) &&( bonus < netS ))
{
    console.log("Bonus valide");
    isSalaireBonusValid=true;
}
else {
    isSalaireBonusValid=false;
    console.log("Bonus non valide");
}
}

function handleLogin()
{
    if (regLogin.test($('#loginInput').val()))
    {
        console.log("Login valide");
        isLoginValid=true;
    }
    else {
        console.log("Login invalide");
        isLoginValid=false;
    }
}

function handlePassword()
{
if (regPassword.test($('#passwordInput').val()))
{
console.log("Password valide")    ;
isPasswordValid=true;
}
else {
    console.log("Password unmatches");
    isPasswordValid=false;
}
}

function rehandlePassword()
{
if (isPasswordValid===true && $('#passwordMatchingInput').val()===$('#passwordInput').val())
{
console.log("Password matches")    ;
isPasswordMatches=true;
}
else if (isPasswordValid===true && $('#passwordInput').val()!==$('#passwordMatchingInput').val()) {
isPasswordMatches=false;
console.log("Password correct but dont matches the previous password");
}
else {
    console.log("Password invalid ");
    isPasswordMatches=false;
}
}


function showNameStatus()
{
    if (!isFullNameValid)
    {
    $('#nameContainer').addClass('error');
    }
    else {
        $('#nameContainer').removeClass('error');
    }
}

function showPhoneStatus()
{
    if (!isPhoneValid)
    {
        $('#phoneContainer').addClass('error');
    }
    else {
        $('#phoneContainer').removeClass('error');
    }
}

function showEmailStatus()
{
    if (!isEmailValid)
    {
        $('#emailContainer').addClass('error');
    }
    else {
        $('#emailContainer').removeClass('error');
    }
}

function showSalaryBrutStatus()
{
    if (!isSalaireBrutValid)
    {
        $('#salaryBrutContainer').addClass('error');
    }
    else {
        $('#salaryBrutContainer').removeClass('error');
    }
}

function showSalaryBonusStatus()
{

    if (!isSalaireBonusValid)
    {
        $('#salaryBonusContainer').addClass('error');
    }
    else {
        $('#salaryBonusContainer').removeClass('error');
    }
}

function showLoginStatus()
{
    if (!isLoginValid)
    {
        $('#loginContainer').addClass('error');
    }
    else {
        $('#loginContainer').removeClass('error');
    }
}

function showPasswordStatus()
{
    if (!isPasswordValid)
    {
        $('#passwordContainer').addClass('error');
    }
    else {
        $('#passwordContainer').removeClass('error');
    }
}

function showPasswordConfirmStatus()
{
    if (!isPasswordMatches)
    {
        $('#passwordConfirmContainer').addClass('error');
    }
    else {
        $('#passwordConfirmContainer').removeClass('error');
    }
}



function addEmployee() {


    if (isFullNameValid && isPhoneValid && isEmailValid && isSalaireBonusValid && isSalaireBrutValid && isLoginValid && isPasswordMatches && isPasswordValid) {
        let form = $("#employeeForm")[0];
        let submittedForm = new FormData(form);
        if (!address.isEmpty)
        {
         submittedForm.append("display_name",address.display_name)   ;
         submittedForm.append("lon",address.lon);
         submittedForm.append("lat",address.lat);
         submittedForm.append("type",address.type);
        }
        else {
            submittedForm.append("display_name","empty")   ;
        }


        $.ajax({
            url: "{{ path('newEmployee') }}",
            data: submittedForm,
            type: "post",
            contentType: false,
            processData: false,
            cache: false,
            dataType: "json",
            beforeSend:function(){
                $('.page-loader-wrapper').show();
            },
            error: function (err) {
                console.error(err);
            },
            success: function (data) {
                console.log(data);
            },
            complete: function () {
                console.log("Request finished.");
                $('.page-loader-wrapper').hide();

            }
        });
    }
}

</script>

{% endblock %}