{% if is_granted('ROLE_SELLER') or is_granted('ROLE_SUPPLIER') or is_granted('ROLE_MANAGER') or is_granted('ROLE_SUPER_ADMIN') %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{% block title %}Accueil{% endblock %}</title>
    <!-- Favicon-->
    {% block icon %}
        <link rel="icon" href="{{ asset('UI/favicon.ico') }}" type="image/x-icon">
    {% endblock %}
    <!-- Google Fonts -->
    {% block fonts %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    {% endblock %}
    <!-- Bootstrap Core Css -->
    {% block plugins %}
        <link href="{{ asset('UI/plugins/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
        <!-- Bootstrap Select Css -->
        <link href="{{ asset('UI/plugins/bootstrap-select/css/bootstrap-select.css') }}" rel="stylesheet" />
        <!-- Waves Effect Css -->
        <link href="{{ asset('UI/plugins/node-waves/waves.css') }}" rel="stylesheet" />

        <!-- Animation Css -->
        <link href="{{ asset('UI/plugins/animate-css/animate.css') }}" rel="stylesheet" />

        <!-- Morris Chart Css-->
        <link href="{{ asset('UI/plugins/morrisjs/morris.css') }}" rel="stylesheet" />
        <!-- Bootstrap Material Datetime Picker Css -->
        <link href="{{ asset('UI/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css') }}" rel="stylesheet" />
        <!-- Bootstrap DatePicker Css -->
        <link href="{{ asset('UI/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css') }}" rel="stylesheet" />
        <!-- Sweet Alert Css -->
        <link href="{{ asset('UI/plugins/sweetalert/sweetalert.css') }}" rel="stylesheet" />
    {% endblock %}
    <!-- Custom Css -->
    {% block css %}
        <link href="{{ asset('UI/css/style.css') }}" rel="stylesheet">
        <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
        <link href="{{ asset('UI/css/themes/all-themes.css') }}" rel="stylesheet" />
    {% endblock %}
</head>

<body class="theme-red">
<!-- Page Loader -->
{% block animationLoader %}
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Veuillez patienter...</p>
        </div>
    </div>
{% endblock %}
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Search Bar -->
{% include 'skeleton/top-nav.html.twig' %}
<section>
    <!-- Left Sidebar -->
    {% include 'skeleton/side-bar.html.twig' %}
    <!-- #END# Left Sidebar -->
    <!-- Right Sidebar -->
    {% include 'skeleton/right-side-bar.html.twig' %}

</section>

<section class="content">
    {% block content %}

    {% endblock %}
</section>

{% block js %}
    <!-- Jquery Core Js -->
    <script src="{{ asset('UI/plugins/jquery/jquery.min.js') }}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{{ asset('UI/plugins/bootstrap/js/bootstrap.js') }}"></script>
    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="{{ asset('UI/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js') }}"></script>

    <!-- Bootstrap Datepicker Plugin Js -->
    <script src="{{ asset('UI/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <!-- Select Plugin Js -->
    <script src="{{ asset('UI/plugins/bootstrap-select/js/bootstrap-select.js') }}"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="{{ asset('UI/plugins/jquery-slimscroll/jquery.slimscroll.js') }}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{{ asset('UI/plugins/node-waves/waves.js') }}"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="{{ asset('UI/plugins/jquery-countto/jquery.countTo.js') }}"></script>

    <!-- Morris Plugin Js -->
    <script src="{{ asset('UI/plugins/raphael/raphael.min.js') }}"></script>
    <script src="{{ asset('UI/plugins/morrisjs/morris.js') }}"></script>

    <!-- ChartJs -->
    <script src="{{ asset('UI/plugins/chartjs/Chart.bundle.js') }}"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="{{ asset('UI/plugins/flot-charts/jquery.flot.js') }}"></script>
    <script src="{{ asset('UI/plugins/flot-charts/jquery.flot.resize.js') }}"></script>
    <script src="{{ asset('UI/plugins/flot-charts/jquery.flot.pie.js') }}"></script>
    <script src="{{ asset('UI/plugins/flot-charts/jquery.flot.categories.js') }}"></script>
    <script src="{{ asset('UI/plugins/flot-charts/jquery.flot.time.js') }}"></script>
    <!-- Sparkline Chart Plugin Js -->
    <script src="{{ asset('UI/plugins/jquery-sparkline/jquery.sparkline.js') }}"></script>

    <!-- Custom Js -->
    <script src="{{ asset('UI/js/admin.js') }}"></script>
    <script src="{{ asset('UI/js/pages/index.js') }}"></script>
    <script src="{{ asset('UI/js/pages/tables/editable-table.js') }}"></script>
    <!-- Demo Js -->
    <script src="{{ asset('UI/js/demo.js') }}"></script>
    <script src="{{ asset('UI/plugins/editable-table/mindmup-editabletable.js') }}"></script>
    <script src="{{ asset('UI/js/pages/tables/editable-table.js') }}"></script>
{% endblock %}
{% block InputControlJs %}
{% endblock %}
</body>

</html>
    {% else %}
Handling the no page rights exception later
{% endif %}