<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
        <div class="image">
            {% if app.user.imageProfile!=null %}
            <img src="{{ asset('uploads/images/products/' ~ app.user.imageProfile.image) }}" width="48" height="48" alt="User" />
                {% else %}
                    <img src="{{ asset('UI/images/user.svg') }}" width="48" height="48" alt="User" />
            {% endif %}
        </div>
        <div class="info-container">
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ app.user.username }}</div>
            <div class="email">{{ app.user.email }}</div>
            <div class="btn-group user-helper-dropdown">
                <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                <ul class="dropdown-menu pull-right">
                    <li><a href="{{ path('renderProfile',{'email':app.user.email}) }}"><i class="material-icons">person</i>Profile</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
                    <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
                    <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ path('logout') }}"><i class="material-icons">input</i>Sign Out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active">
                <a href="{{ path('home') }}">
                    <i class="material-icons">home</i>
                    <span>Accueil</span>
                </a>
            </li>
            {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_SELLER') or is_granted('ROLE_SUPER_ADMIN') %}
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">shopping_cart</i>
                    <span>Gestion commandes</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="{{path('newOrder')}}">Passer une nouvelle commande</a>
                    </li>
                    <li><a href="{{ path('readOrders') }}">Mes commandes</a></li>
                    <li> <a href="#">Consulter rapport des commandes</a></li>
                </ul>
            </li>
            {% endif %}
            {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_SELLER') or is_granted('ROLE_SUPER_ADMIN') %}
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">assignment_ind</i>
                    <span>Clients</span>
                </a>
                <ul class="ml-menu">
                <li>
                    <a href="#">Nouveau client</a>
                </li>
                    <li><a href="#">Mes clients</a></li>
                </ul>
            </li>
            {% endif %}
            {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_SUPPLIER') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_SELLER') %}
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">store</i>
                    <span>Gestion magazin</span>
                </a>
                <ul class="ml-menu">
                    {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_SUPER_ADMIN') %}
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <span>Employés</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="{{ path('newEmployee') }}">Nouveau employés</a>
                            </li>
                            <li>
                                <a href="#">Mes employés</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_SUPER_ADMIN') %}
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <span>Departements</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="#">Nouveau departement</a>
                            </li>
                            <li>
                                <a href="#">Mes departements</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_SELLER') %}
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <span>Catégories</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="#">Nouvelle catégorie</a>
                            </li>
                            <li>
                                <a href="#">Mes catégories</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_SUPPLIER') %}
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <span>Produits</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="{{ path('readProducts') }}">Mes produits</a>
                            </li>
                            <li>
                                <a href="{{ path('newProduct') }}">Nouveau produit</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
            {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_SELLER') %}
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">compare_arrows</i>
                    <span>Mes charges</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="#" class="menu-toggle">Charges fix</a>
                        <ul class="ml-menu">
                         <li>
                             <a href="#">Nouvelle charge fix</a>
                         </li>
                            <li>
                                <a href="#">Mes charges fix</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu-toggle">Charges variable</a>
                        <ul class="ml-menu">
                        <li>
                            <a href="#">Nouvelle charge variable</a>
                        </li>
                            <li>
                                <a href="#">Mes charges variable</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_SELLER') %}
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">assignment</i>
                    <span>Devis</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="#">Nouveau devis</a>
                    </li>
                    <li>
                        <a href="#">Mes devis</a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_SELLER') %}
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">feedback</i>
                    <span>Reservations</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="#">Nouvelle reservation</a>
                    </li>
                    <li>
                        <a href="#">Mes reservations</a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_SELLER') %}
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">swap_calls</i>
                    <span>Livraisons</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="#">Nouvelle livraison</a>
                    </li>
                    <li>
                        <a href="#">Mes livraisons</a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}

            <li class="header">Reservé au super admin</li>
            <li>
                <a href="javascript:void(0);">
                    <i class="material-icons col-red">donut_large</i>
                    <span>Mes logs</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            &copy; 2019 <a href="javascript:void(0);">All copyrights are reserved</a>.
        </div>
        <div class="version">
            <b>Version: </b> 1.0.5
        </div>
    </div>
    <!-- #Footer -->
</aside>
<!-- #END# Left Sidebar -->