{% extends 'base.html.twig' %}
{% block title %}
    Nouvelle commande
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="block-header">
            <h2>
                EDITABLE TABLE
                <small>Taken from <a href="https://github.com/mindmup/editable-table" taget="_blank">github.com/mindmup/editable-table</a></small>
            </h2>
        </div>
        <div class="row">
            <div class="row clearfix">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box hover-zoom-effect">
                        <div class="icon bg-pink">
                            <i class="material-icons">shopping_cart</i>
                        </div>
                        <div class="content">
                            <div class="text">Nombre d'articles</div>
                            <div class="number">xx</div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box hover-zoom-effect">
                        <div class="icon bg-blue">
                            <i class="material-icons">label</i>
                        </div>
                        <div class="content">
                            <div class="text">Montant hors tax</div>
                            <div class="number">92%</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box hover-zoom-effect">
                        <div class="icon bg-light-blue">
                            <i class="material-icons">attach_money</i>
                        </div>
                        <div class="content">
                            <div class="text">Tax</div>
                            <div class="number">xx dt</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box hover-zoom-effect">
                        <div class="icon bg-cyan">
                            <i class="material-icons">euro_symbol</i>
                        </div>
                        <div class="content">
                            <div class="text">Totale</div>
                            <div class="number">xx dt</div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Création d'une commande
                                <small>Ajouter <code>Les articles</code> souhaité pour votre<code>client</code>.</small>
                            </h2>
                        </div>
                        <div class="body table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Reférence</th>
                                    <th>Code a barre</th>
                                    <th>Quantity</th>
                                    <th>%Réduction</th>
                                    <th>M.H.T</th>
                                    <th>Tax</th>
                                    <th>Totale</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if order.orderProductRows|length ==0 %}
                                <tr id="addOrderRow" class="">
                                    <td id="ReferenceColumn">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <select class="form-control show-tick" contentEditable="true" id="referenceSelection">
                                                    <option>Aucune sélection</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                    <td id="barCodeColumn">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="barCodeInput" class="form-control" placeholder="Code a barre" onkeyup="searchForProductByBarCode('barCodeInput','{{ path('searchForProduct') }}')" />
                                            </div>
                                        </div>
                                    </td>
                                    <td id="QuantityColumn">
                                        <div class="form-group">
                                            <div class="form-line" id="quantityContainer">
                                                <input type="number" id="quantityInput" class="form-control" placeholder="Quantité" readonly />
                                            </div>
                                        </div>
                                    </td>
                                    <td id="reductionColumn">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="number" class="form-control" placeholder="réduction" id="reductionInput" />
                                            </div>
                                        </div>
                                    <td><h4>                            <span class="label bg-teal" id="MHTLabel">Introuvable</span></h4></td>
                                    <td><h4>                            <span class="label bg-teal" id="TAXLabel">Introuvable</span></h4></td>
                                    <td><h4>                            <span class="label bg-teal" id="totalLabel">Introuvable</span></h4></td>
                                    <td>
                                        <button type="button" class="btn btn-primary waves-effect">
                                            <i class="material-icons">save</i>
                                            <span>Sauvegarder</span>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger waves-effect">
                                            <i class="material-icons">close</i>
                                            <span>Annuler</span>
                                        </button>
                                    </td>
                                    {% endif %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
    {% block js %}
        <!-- Jquery Core Js -->
        <script src="{{ asset('UI/plugins/jquery/jquery.min.js') }}"></script>

        <!-- Bootstrap Core Js -->
        <script src="{{ asset('UI/plugins/bootstrap/js/bootstrap.js') }}"></script>

        <!-- Select Plugin Js -->
        <script src="{{ asset('UI/plugins/bootstrap-select/js/bootstrap-select.js') }}"></script>

        <!-- Slimscroll Plugin Js -->
        <script src="{{ asset('UI/plugins/jquery-slimscroll/jquery.slimscroll.js') }}"></script>

        <!-- Waves Effect Plugin Js -->
        <script src="{{ asset('UI/plugins/node-waves/waves.js') }}"></script>

        <!-- Editable Table Plugin Js -->
        <script src="{{ asset('UI/plugins/editable-table/mindmup-editabletable.js') }}"></script>

        <!-- Custom Js -->
        <script src="{{ asset('UI/js/admin.js') }}"></script>
        <script src="{{ asset('UI/js/pages/tables/editable-table.js') }}"></script>
        <!-- Demo Js -->
        <script src="{{ asset('UI/js/demo.js') }}"></script>
        <!-- This file is on only included for order rows!-->
        <script src="{{ asset('UI/js/orders.js') }}"></script>
        <script>
            const  t=1;
            let k=1;
            let max=0;
            let singlePrice=0;
            let tva=0;
            let reduction=0;
            let total=0;
            let validRow=false;

            function addRow(element)
            {
                if ($('#'+element).val()!=="") {
                    alert($('#' + element).val());
                }
            }


            function searchForProductByBarCode(barcodeElement,path)
            {
                let x=setTimeout( function (){
                    if (k===t) {
                        $.ajax(
                            {
                                type:'POST',
                                url: path,
                                data:{'barcode':$('#'+barcodeElement).val()},
                                dataType:'json',
                                async:true,
                                success:function (data) {
                                    console.log($('#'+barcodeElement).val());
                                    $("#MHTLabel").fadeOut(400).text(data.sellPrice+" dt").fadeIn(400);
                                    $("#TAXLabel").text(data.TVA+" dt");
                                    $("#quantityInput").attr({"max":data.quantite,"min":1,"readonly":false});
                                    max=data.quantite;
                                    singlePrice=parseFloat(data.sellPrice);
                                    tva=parseFloat(data.TVA);
                                    console.log(data);
                                },
                                error:function () {
                                    alert("impossible");
                                }
                            });

                        k++;
                    }
                },1000);
            }


            $("#quantityInput").change(function () {
                if (parseInt($("#quantityInput").val())>max)
                {
                    $("#quantityInput").val(max);}

                else {
                    total=parseInt($("#quantityInput").val())*(singlePrice+tva)    ;
                    $("#totalLabel").text(parseFloat(total).toPrecision(3)+" dt");
                }
            });

            $("#reductionInput").change(function () {
                if (parseFloat($("#reductionInput").val())>=100 || parseFloat($("#reductionInput").val())<0 )
                {
                    $("#reductionInput").val(99);
                }
                else {
                    reduction=parseFloat($("#reductionInput").val());
                    let newValue=total-(total*(reduction/100));
                    $("#totalLabel").text(parseFloat(newValue).toPrecision(3)+" dt");
                }
            });
        </script>

    {% endblock %}
