{% extends 'base.html.twig' %}
{% block title %}
    Nouvelle commande
{% endblock %}


            {% block content %}
                <div class="container-fluid">
                    <div class="block-header">
                        <h2>Création d'une nouvelle commande</h2>
                    </div>
                    {{ form_start(form) }}
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="header">
                                    <h2>
                                        <i class="material-icons">person_outline</i><span>Client</span>
                                        <small>Veuillez choisire un client parmis cette liste</small>
                                    </h2>
                                </div>
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-md-12">
                                            {{ form_widget(form.client,{'attr':{'class':'form-control show-tick'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Vertical Layout | With Floating Label -->
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="header">
                                    <h2>
                                        Informations commande
                                        <small>Veuillez saisire les information concernant votre commande</small>
                                    </h2>
                                </div>
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-md-12">
                                            <h2 class="card-inside-title">Livraison</h2>
                                            <div class="demo-checkbox">
                                                {{ form_widget(form.isWithDelivery,{'id':'basic_checkbox_2'},{'attr':{'class':'filled-in','value':'1'}}) }}
                                                <label for="basic_checkbox_2">Avec livraison</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <button type="submit" class="btn btn-primary m-t-15 waves-effect">Valider commande</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            {% endblock %}
